# Prerequisites
#*.d

# Compiled Object files
#*.slo
#*.lo
#*.o
*.obj

# Precompiled Headers
#*.gch
#*.pch

# Compiled Dynamic libraries
#*.so
#*.dylib
*.dll

# Fortran module files
#*.mod
#*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
*.lib


# Executables
*.exe
#*.out
#*.app
*.exp

# random other stuff
*.pdb
*.ilk
*.nativecodeanalysis.*
*.user
#*.dylib
*.ipch
*.db 
*.idb
*.ipdb
*.iobj
*.tlog
*.log
*.FileListAbsolute.txt

.suo
*.sqlite
projects/.vs/projects/v16/Solution.VC.db-shm
projects/.vs/projects/v16/Solution.VC.db-wal

# Recipes
*.exe.recipe

# Inclusions
!lib/Release/blend2d.dll
!lib/Release/blend2d.lib
!projects/x64/Release/blend2d.dll

